## Next Steps

1. Plot Output Video
2. Create Ongoing Calculations
3. Record Calculations to Output Video
4. Machine Learning for how to win

### Import and Roughly Clean Data

In [1]:
pip list

Package                       Version
----------------------------- ------------------
absl-py                       1.3.0
antlr4-python3-runtime        4.9.3
appnope                       0.1.3
astor                         0.8.1
attrs                         22.2.0
backcall                      0.2.0
backports.functools-lru-cache 1.6.4
black                         22.12.0
Bottleneck                    1.3.5
brotlipy                      0.7.0
certifi                       2022.12.7
cffi                          1.15.1
chardet                       5.1.0
charset-normalizer            3.0.1
click                         8.0.4
cloudpickle                   2.2.1
cryptography                  38.0.4
cycler                        0.11.0
Cython                        0.29.33
dataclasses                   0.6
debugpy                       1.5.1
decorator                     4.4.2
Deprecated                    1.2.13
emoji                         2.2.0
entrypoints                   0.4
ffmpeg-python                 0.2.0
filterpy                      1.4.5
fire                          0.5.0
flit_core                     3.6.0
fonttools                     4.38.0
future                        0.18.3
fvcore                        0.1.5.post20221221
gast                          0.2.2
google-pasta                  0.2.0
grpcio                        1.42.0
h5py                          2.10.0
haversine                     2.8.0
hydra-core                    1.3.1
idna                          3.4
imageio                       2.25.0
imageio-ffmpeg                0.4.8
imantics                      0.1.12
imgaug                        0.4.0
importlib-metadata            6.0.0
importlib-resources           5.10.2
imutils                       0.5.4
iopath                        0.1.10
ipykernel                     6.15.0
ipython                       7.33.0
jedi                          0.18.2
joblib                        1.2.0
jsonschema                    4.17.3
jupyter-client                7.0.6
jupyter_core                  4.11.1
Keras                         2.3.1
Keras-Applications            1.0.8
Keras-Preprocessing           1.1.2
kiwisolver                    1.4.4
labelme2coco                  0.2.1
llvmlite                      0.39.1
lxml                          4.9.2
Markdown                      3.4.1
MarkupSafe                    2.1.1
matplotlib                    3.5.3
matplotlib-inline             0.1.6
mkl-fft                       1.3.1
mkl-random                    1.2.2
mkl-service                   2.4.0
moviepy                       1.0.3
mpmath                        1.2.1
mypy-extensions               0.4.3
nest-asyncio                  1.5.6
networkx                      2.6.3
numba                         0.56.4
numexpr                       2.8.4
numpy                         1.21.6
omegaconf                     2.3.0
opencv-python                 4.7.0.68
opt-einsum                    3.3.0
packaging                     23.0
pandas                        1.3.5
parso                         0.8.3
pathspec                      0.10.3
patsy                         0.5.3
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        9.4.0
pip                           22.3.1
pixellib                      0.7.1
pkgutil_resolve_name          1.3.10
platformdirs                  2.6.2
portalocker                   2.7.0
proglog                       0.1.10
prompt-toolkit                3.0.36
protobuf                      3.20.1
psutil                        5.9.0
ptyprocess                    0.7.0
pybboxes                      0.1.6
pycparser                     2.21
pydot                         1.4.2
Pygments                      2.14.0
pyOpenSSL                     22.0.0
pyparsing                     3.0.9
PyQt5                         5.15.7
PyQt5-Qt5                     5.15.2
PyQt5-sip                     12.11.0
pyrsistent                    0.19.3
PySocks                       1.7.1
python-dateutil               2.8.2
pytz                          2022.7
PyWavelets                    1.3.0
PyYAML                        6.0
pyzmq                         19.0.2
requests                      2.28.2
sahi                          0.11.11
scikit-image                  0.19.3
scikit-learn                  1.0.2
scipy                         1.7.3
setuptools                    65.6.3
shapely                       2.0.0
six                           1.16.0
sktime                        0.15.1
statsmodels                   0.13.5
sympy                         1.10.1
tabulate                      0.9.0
tensorboard                   2.0.0
tensorflow                    2.0.0
tensorflow-estimator          2.0.0
termcolor                     2.2.0
terminaltables                3.1.10
threadpoolctl                 3.1.0
tifffile                      2021.11.2
tomli                         2.0.1
torch                         1.12.1
torchvision                   0.13.1a0
tornado                       6.2
tqdm                          4.64.1
traitlets                     5.8.1
typed-ast                     1.5.4
typing_extensions             4.4.0
urllib3                       1.26.14
wcwidth                       0.2.6
Werkzeug                      2.2.2
wheel                         0.37.1
wrapt                         1.14.1
xmljson                       0.2.1
yacs                          0.1.8
zipp                          3.11.0
WARNING: There was an error checking the latest version of pip.
Note: you may need to restart the kernel to use updated packages.

In [40]:
import pandas as pd
import cv2
import numpy as np

out_fps = 29.3

run = 15
path = f"exp{run}/labels/Football_intersquad.txt"
df = pd.read_csv(path, header=None, sep=" ", names=["frame", "class", "ID", "bb_left", "bb_top", "bb_w", "bb_h", "None1", "None2", "None3", "None4", "NaN"])
df['x_mid'] = df['bb_left'] + (df['bb_w'] / 2)
df['y_mid'] = df['bb_top'] + (df['bb_h'] / 2)
df = df[['frame', 'class', 'ID', 'x_mid', 'y_mid']].copy()
df = df.loc[(df['class']==0) | (df['class']==32)] #Person & Sports Ball

In [41]:
df.shape

(10842, 5)

In [42]:
df['frame'].nunique()

548

### Identify Players

In [43]:
for frame in df['frame'].unique():
    print(frame, df[(df['frame'] == frame) & (df['class'] == 0)]['ID'].unique())

3 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17]
4 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17]
5 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17]
6 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17]
7 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
8 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
9 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
10 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
11 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
12 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
13 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
14 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
15 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17]
16 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
17 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
18 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
19 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
20 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17]
21 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
22 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
23 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
24 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
25 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
26 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
27 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
28 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
29 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
30 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22]
31 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33]
32 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
33 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
34 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
35 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
36 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33]
37 [ 1  2  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
38 [ 1  2  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
39 [ 1  2  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
40 [ 1  2  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
41 [ 1  2  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
42 [ 1  2  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
43 [ 1  2  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
44 [ 1  2  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
45 [ 1  2  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 43]
46 [ 1  2  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 43]
47 [ 1  2  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 43]
48 [ 1  2  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 43]
49 [ 1  2  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 43]
50 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 43]
51 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 43]
52 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 43]
53 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
54 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
55 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
56 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
57 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 43]
58 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
59 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
60 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
61 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
62 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
63 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
64 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
65 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
66 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
67 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
68 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
69 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
70 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
71 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
72 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
73 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
74 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
75 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
76 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
77 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
78 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
79 [ 1  2  3  4  5  6  7  8  9 10 12 13 14 15 16 17 22 33 37 54]
80 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
81 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
82 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
83 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
84 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
85 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
86 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
87 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
88 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
89 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
90 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
91 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
92 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
93 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
94 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
95 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
96 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
97 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
98 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
99 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
100 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
101 [ 1  2  3  4  5  6  7  8  9 10 12 13 14 15 16 17 22 33 37 54]
102 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
103 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
104 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37]
105 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
106 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
107 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
108 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
109 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
110 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
111 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
112 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
113 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
114 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
115 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
116 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
117 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
118 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 17 22 33 37 54 78]
119 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 17 22 33 37 54]
120 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
121 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
122 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
123 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
124 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
125 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 17 22 33 37 54]
126 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 17 22 33 37 54 78]
127 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 17 22 33 37 54 78]
128 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
129 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
130 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
131 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
132 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
133 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 17 22 33 37 54 78]
134 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 17 22 33 37 54 78]
135 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 17 22 33 37 54 78]
136 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
137 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
138 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
139 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
140 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
141 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
142 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
143 [ 2  3  4  5  6  7  8  9 10 11 13 14 15 16 17 22 33 37 54 78]
144 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
145 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
146 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
147 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
148 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
149 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
150 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
151 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
152 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
153 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
154 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
155 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
156 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
157 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
158 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
159 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
160 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
161 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
162 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
163 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
164 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 17 22 33 37 54 78]
165 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 17 22 33 37 54 78]
166 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54]
167 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
168 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
169 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
170 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
171 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
172 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 17 22 33 37 54 78]
173 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 17 22 33 37 54 78]
174 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 17 22 33 37 54 78]
175 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 17 22 33 37 54 78]
176 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
177 [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
178 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 22 33 37 54 78]
179 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 17 22 33 37 54 78]
180 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 17 22 33 37 54 78]
181 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 17 22 33 37 54 78]
182 [  1   2   3   4   5   6   7   9  10  11  12  13  14  15  17  22  33  37
  54  78 111]
183 [  1   2   3   4   5   6   7   9  10  11  12  13  14  15  17  22  33  37
  54  78 111]
184 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
185 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
186 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
187 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
188 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
189 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
190 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
191 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
192 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
193 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54]
194 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
195 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
196 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
197 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
198 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
199 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
200 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
201 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54]
202 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
203 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
204 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
205 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
206 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
207 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
208 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
209 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
210 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
211 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
212 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
213 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
214 [ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 17 22 33 37 54 78]
215 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
216 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54]
217 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
218 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
219 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
220 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54]
221 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
222 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
223 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
224 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
225 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
226 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
227 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
228 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
229 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
230 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
231 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
232 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
233 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
234 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
235 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
236 [ 1  2  3  4  5  6  7  9 10 13 14 15 17 22 33 37 54 78]
237 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
238 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
239 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
240 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
241 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
242 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
243 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
244 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
245 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
246 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54]
247 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
248 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
249 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
250 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
251 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
252 [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
253 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
254 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
255 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
256 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
257 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
258 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
259 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
260 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
261 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
262 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
263 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
264 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
265 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
266 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
267 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
268 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
269 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
270 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
271 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
272 [ 2  3  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54]
273 [ 2  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
274 [ 2  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
275 [ 2  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
276 [ 2  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
277 [ 2  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
278 [ 2  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
279 [ 2  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
280 [ 2  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
281 [ 2  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
282 [ 2  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
283 [ 2  4  5  6  7  9 10 12 13 14 15 17 22 33 37 54 78]
284 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162]
285 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162]
286 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162]
287 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162]
288 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162]
289 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162]
290 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162]
291 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162]
292 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162]
293 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162]
294 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162]
295 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162]
296 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162]
297 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162]
298 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162
 172]
299 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162
 172]
300 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162]
301 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162
 172]
302 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162
 172]
303 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162
 172]
304 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162
 172]
305 [  2   4   5   6   7   9  10  12  13  14  15  17  22  33  37  54  78 162
 172]

In [44]:
players = {1:"player1",
           2:"player2",
           3:"player3",
           4:"player4",
           5:"Referee",
            6:"player5",
            7:"player6",
            8:"player7",
            9:"Eric",
            10:"player8",
            11:"player9",
            12:"player10",
            13:"player11",
            14:"player12",
            15:"player18",
            16:"player14",
            17:"player13",
            22:"player19",
            33:"player15",
            37:"player16",
            43:"player1",
            54:"player17",
            78:"player1", # & when player1 change to 78, player14 changes to 1
            162:"player14",
            172:"player3",
           }
team = {1:"F",
        2:"F",
        3:"H",
        4:"H",
        5:"R",
        6:"F",
        7:"H",
        8:"F",
        9:"F",
        10:"F",
        11:"H",
        12:"H",
        13:"H",
        14:"H",
        15:"F",
        16:"F",
        17:"F",
        22:"F",
        33:"H",
        37:"F",
        43:"F",
        54:"H",
        78:"F",
        162:"F",
        172:"H",
        }
players = pd.DataFrame.from_dict(players, orient='index', columns=['Name']).reset_index().rename(columns={"index":"ID"})
team = pd.DataFrame.from_dict(team, orient='index', columns=['Team']).reset_index().rename(columns={"index":"ID"})

#### Clean Players

In [45]:
df = pd.merge(df, players, how='left', on='ID')

In [46]:
df = pd.merge(df, team, how='left', on='ID')

In [47]:
df.loc[(df['frame'] >= df[df['ID']==78]['frame'].min()) & (df['ID'] == 1), "Name"] = "player14"

In [48]:
df = df.drop(df[(df['frame'].isin([45,46,47,48,49,50,57])) & (df['ID'] == 1)].index)

In [49]:
df = df.drop(df[(df['frame'].isin([117, 120, 124, 128, 132, 136, 163, 166, 171, 176, 178])) & (df['ID'] == 1)].index)

In [50]:
df

       frame  class   ID   x_mid   y_mid      Name Team
0          3      0    1  3622.0  1945.0   player1    F
1          3      0    2  3629.5  1262.5   player2    F
2          3      0    3  3093.5  1775.5   player3    H
3          3      0    4  1163.0   468.5   player4    H
4          3      0    5  1354.5   608.5   Referee    R
...      ...    ...  ...     ...     ...       ...  ...
10837    550      0   33  1091.0   476.5  player15    H
10838    550      0   37  1418.0   116.0  player16    F
10839    550      0   54  3095.5   274.0  player17    H
10840    550      0   78  1464.5   526.5   player1    F
10841    550      0  162   814.5   506.5  player14    F

[10824 rows x 7 columns]

In [51]:
clean = df[['frame', 'Name']].value_counts()

In [52]:
clean.reset_index()[clean.reset_index()[0]>1].sort_values(by='frame')

Empty DataFrame
Columns: [frame, Name, 0]
Index: []

### Identify Ball

In [53]:
df.loc[df['class'] == 32, "Name"] = "ball"
df.loc[df['class'] == 32, "Team"] = "N"

### Check any remaining NANs

In [54]:
df[df.isna().any(axis=1)]

      frame  class   ID  x_mid   y_mid Name Team
3750    182      0  111   18.5  1483.0  NaN  NaN
3772    183      0  111   16.5  1485.0  NaN  NaN

In [55]:
df = df.drop(df[(df['ID'] == 111)].index)

In [56]:
# Extraneous Sports Ball
df = df.drop(df[(df['ID'] == 38)].index)

In [57]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [frame, class, ID, x_mid, y_mid, Name, Team]
Index: []

### Interpolate Locations

In [58]:
df

       frame  class   ID   x_mid   y_mid      Name Team
0          3      0    1  3622.0  1945.0   player1    F
1          3      0    2  3629.5  1262.5   player2    F
2          3      0    3  3093.5  1775.5   player3    H
3          3      0    4  1163.0   468.5   player4    H
4          3      0    5  1354.5   608.5   Referee    R
...      ...    ...  ...     ...     ...       ...  ...
10837    550      0   33  1091.0   476.5  player15    H
10838    550      0   37  1418.0   116.0  player16    F
10839    550      0   54  3095.5   274.0  player17    H
10840    550      0   78  1464.5   526.5   player1    F
10841    550      0  162   814.5   506.5  player14    F

[10818 rows x 7 columns]

In [59]:
list(players.Name.unique()) + ['ball']

['player1',
 'player2',
 'player3',
 'player4',
 'Referee',
 'player5',
 'player6',
 'player7',
 'Eric',
 'player8',
 'player9',
 'player10',
 'player11',
 'player12',
 'player18',
 'player14',
 'player13',
 'player19',
 'player15',
 'player16',
 'player17',
 'ball']

In [60]:
outer_df = []
for frame in df['frame'].unique():
    for name in list(players.Name.unique()) + ['ball']:
        outer_df.append({"frame":frame, "Name":name})
outer_df = pd.DataFrame(outer_df)

In [61]:
outer_df

       frame      Name
0          3   player1
1          3   player2
2          3   player3
3          3   player4
4          3   Referee
...      ...       ...
12051    550  player19
12052    550  player15
12053    550  player16
12054    550  player17
12055    550      ball

[12056 rows x 2 columns]

In [62]:
df = pd.merge(df,outer_df, on=['frame', 'Name'], how='outer')

In [63]:
df = df.sort_values(['frame', 'Name']).reset_index(drop=True)

In [64]:
df[df['Name']=="player3"].head(50)

      frame  class   ID   x_mid   y_mid     Name Team
15        3    0.0  3.0  3093.5  1775.5  player3    H
37        4    0.0  3.0  3090.5  1786.0  player3    H
59        5    0.0  3.0  3086.5  1796.0  player3    H
81        6    0.0  3.0  3086.5  1806.0  player3    H
103       7    0.0  3.0  3085.5  1815.0  player3    H
...     ...    ...  ...     ...     ...      ...  ...
1005     48    NaN  NaN     NaN     NaN  player3  NaN
1027     49    NaN  NaN     NaN     NaN  player3  NaN
1049     50    0.0  3.0  2951.0  1698.5  player3    H
1071     51    0.0  3.0  2939.0  1692.0  player3    H
1093     52    0.0  3.0  2928.0  1684.0  player3    H

[50 rows x 7 columns]

In [27]:
# Ball Missing at end of the video, so let's add in a couple manual locations to help interpolate
# The ball is no longer tracked once player13 catches it, so let's set all of those values equal to player13's -10

pd.set_option('display.max_rows', 500)

df[df['Name'] == "ball"].tail(200)

       frame  class     ID   x_mid  y_mid  Name Team
7706     355    NaN    NaN     NaN    NaN  ball  NaN
7728     356   32.0  137.0   921.5  467.5  ball    N
7750     357   32.0  137.0   924.0  455.0  ball    N
7772     358   32.0  137.0   928.5  442.0  ball    N
7794     359   32.0  137.0   933.0  429.5  ball    N
7816     360   32.0  137.0   937.5  418.5  ball    N
7838     361   32.0  137.0   941.5  407.5  ball    N
7860     362   32.0  137.0   946.0  397.0  ball    N
7882     363   32.0  137.0   951.5  386.5  ball    N
7904     364   32.0  137.0   956.5  378.5  ball    N
7926     365   32.0   91.0  2523.0  982.5  ball    N
7927     365   32.0  137.0   962.0  370.0  ball    N
7949     366   32.0   91.0  2520.5  980.5  ball    N
7950     366   32.0  137.0   966.5  362.0  ball    N
7972     367   32.0  137.0   972.5  354.5  ball    N
7994     368   32.0  137.0   977.5  348.0  ball    N
8016     369   32.0  137.0   984.0  343.0  ball    N
8038     370   32.0  137.0   990.0  337.0  ball    N
8060     371   32.0  137.0   995.5  332.5  ball    N
8082     372   32.0  137.0  1003.0  329.0  ball    N
8104     373   32.0  137.0  1008.0  325.5  ball    N
8126     374   32.0  137.0  1014.5  323.5  ball    N
8148     375   32.0  137.0  1021.5  320.5  ball    N
8170     376   32.0  137.0  1027.5  320.0  ball    N
8192     377   32.0  137.0  1034.5  319.0  ball    N
8214     378   32.0  137.0  1041.0  318.0  ball    N
8236     379   32.0  137.0  1048.5  319.0  ball    N
8258     380   32.0  137.0  1055.0  319.0  ball    N
8280     381   32.0  137.0  1062.0  321.0  ball    N
8302     382   32.0  137.0  1069.5  322.5  ball    N
8324     383   32.0  137.0  1076.0  325.5  ball    N
8346     384   32.0  137.0  1083.5  328.0  ball    N
8368     385   32.0  137.0  1090.0  332.0  ball    N
8390     386   32.0  137.0  1098.0  335.0  ball    N
8412     387   32.0  137.0  1105.5  340.5  ball    N
8434     388   32.0  137.0  1113.0  345.0  ball    N
8456     389   32.0  137.0  1118.5  346.0  ball    N
8478     390   32.0  137.0  1123.0  336.5  ball    N
8500     391   32.0  137.0  1127.0  328.0  ball    N
8522     392   32.0   91.0  2496.0  939.0  ball    N
8523     392   32.0  137.0  1131.0  320.5  ball    N
8545     393   32.0   91.0  2495.5  937.5  ball    N
8546     393   32.0  137.0  1134.5  313.0  ball    N
8568     394   32.0  137.0  1139.0  305.5  ball    N
8590     395   32.0  137.0  1143.5  299.0  ball    N
8612     396   32.0  137.0  1147.5  294.5  ball    N
8634     397   32.0  137.0  1152.0  289.0  ball    N
8656     398   32.0  137.0  1156.0  284.0  ball    N
8678     399   32.0  137.0  1161.0  279.5  ball    N
8700     400   32.0  137.0  1166.0  275.0  ball    N
8722     401    NaN    NaN     NaN    NaN  ball  NaN
8744     402    NaN    NaN     NaN    NaN  ball  NaN
8766     403    NaN    NaN     NaN    NaN  ball  NaN
8788     404    NaN    NaN     NaN    NaN  ball  NaN
8810     405    NaN    NaN     NaN    NaN  ball  NaN
8832     406    NaN    NaN     NaN    NaN  ball  NaN
8854     407    NaN    NaN     NaN    NaN  ball  NaN
8876     408    NaN    NaN     NaN    NaN  ball  NaN
8898     409    NaN    NaN     NaN    NaN  ball  NaN
8920     410    NaN    NaN     NaN    NaN  ball  NaN
8942     411    NaN    NaN     NaN    NaN  ball  NaN
8964     412    NaN    NaN     NaN    NaN  ball  NaN
8986     413    NaN    NaN     NaN    NaN  ball  NaN
9008     414    NaN    NaN     NaN    NaN  ball  NaN
9030     415    NaN    NaN     NaN    NaN  ball  NaN
9052     416    NaN    NaN     NaN    NaN  ball  NaN
9074     417    NaN    NaN     NaN    NaN  ball  NaN
9096     418    NaN    NaN     NaN    NaN  ball  NaN
9118     419    NaN    NaN     NaN    NaN  ball  NaN
9140     420    NaN    NaN     NaN    NaN  ball  NaN
9162     421    NaN    NaN     NaN    NaN  ball  NaN
9184     422    NaN    NaN     NaN    NaN  ball  NaN
9206     423    NaN    NaN     NaN    NaN  ball  NaN
9228     424    NaN    NaN     NaN    NaN  ball  NaN
9250     425    NaN    NaN     NaN    NaN  ball  NaN
9272     426    NaN    NaN     NaN    NaN  ball  NaN
9294     427    NaN    NaN     NaN    NaN  ball  NaN
9316     428    NaN    NaN     NaN    NaN  ball  NaN
9338     429    NaN    NaN     NaN    NaN  ball  NaN
9360     430    NaN    NaN     NaN    NaN  ball  NaN
9382     431    NaN    NaN     NaN    NaN  ball  NaN
9404     432    NaN    NaN     NaN    NaN  ball  NaN
9426     433    NaN    NaN     NaN    NaN  ball  NaN
9448     434    NaN    NaN     NaN    NaN  ball  NaN
9470     435    NaN    NaN     NaN    NaN  ball  NaN
9492     436    NaN    NaN     NaN    NaN  ball  NaN
9514     437    NaN    NaN     NaN    NaN  ball  NaN
9536     438    NaN    NaN     NaN    NaN  ball  NaN
9558     439    NaN    NaN     NaN    NaN  ball  NaN
9580     440    NaN    NaN     NaN    NaN  ball  NaN
9602     441    NaN    NaN     NaN    NaN  ball  NaN
9624     442    NaN    NaN     NaN    NaN  ball  NaN
9646     443    NaN    NaN     NaN    NaN  ball  NaN
9668     444    NaN    NaN     NaN    NaN  ball  NaN
9690     445    NaN    NaN     NaN    NaN  ball  NaN
9712     446    NaN    NaN     NaN    NaN  ball  NaN
9734     447    NaN    NaN     NaN    NaN  ball  NaN
9756     448    NaN    NaN     NaN    NaN  ball  NaN
9778     449    NaN    NaN     NaN    NaN  ball  NaN
9800     450    NaN    NaN     NaN    NaN  ball  NaN
9822     451    NaN    NaN     NaN    NaN  ball  NaN
9844     452    NaN    NaN     NaN    NaN  ball  NaN
9866     453    NaN    NaN     NaN    NaN  ball  NaN
9888     454    NaN    NaN     NaN    NaN  ball  NaN
9910     455    NaN    NaN     NaN    NaN  ball  NaN
9932     456    NaN    NaN     NaN    NaN  ball  NaN
9954     457    NaN    NaN     NaN    NaN  ball  NaN
9976     458    NaN    NaN     NaN    NaN  ball  NaN
9998     459    NaN    NaN     NaN    NaN  ball  NaN
10020    460    NaN    NaN     NaN    NaN  ball  NaN
10042    461    NaN    NaN     NaN    NaN  ball  NaN
10064    462    NaN    NaN     NaN    NaN  ball  NaN
10086    463    NaN    NaN     NaN    NaN  ball  NaN
10108    464    NaN    NaN     NaN    NaN  ball  NaN
10130    465    NaN    NaN     NaN    NaN  ball  NaN
10152    466    NaN    NaN     NaN    NaN  ball  NaN
10174    467    NaN    NaN     NaN    NaN  ball  NaN
10196    468    NaN    NaN     NaN    NaN  ball  NaN
10218    469    NaN    NaN     NaN    NaN  ball  NaN
10240    470    NaN    NaN     NaN    NaN  ball  NaN
10262    471    NaN    NaN     NaN    NaN  ball  NaN
10284    472    NaN    NaN     NaN    NaN  ball  NaN
10306    473    NaN    NaN     NaN    NaN  ball  NaN
10328    474    NaN    NaN     NaN    NaN  ball  NaN
10350    475    NaN    NaN     NaN    NaN  ball  NaN
10372    476    NaN    NaN     NaN    NaN  ball  NaN
10394    477    NaN    NaN     NaN    NaN  ball  NaN
10416    478    NaN    NaN     NaN    NaN  ball  NaN
10438    479    NaN    NaN     NaN    NaN  ball  NaN
10460    480    NaN    NaN     NaN    NaN  ball  NaN
10482    481    NaN    NaN     NaN    NaN  ball  NaN
10504    482    NaN    NaN     NaN    NaN  ball  NaN
10526    483    NaN    NaN     NaN    NaN  ball  NaN
10548    484    NaN    NaN     NaN    NaN  ball  NaN
10570    485    NaN    NaN     NaN    NaN  ball  NaN
10592    486    NaN    NaN     NaN    NaN  ball  NaN
10614    487    NaN    NaN     NaN    NaN  ball  NaN
10636    488    NaN    NaN     NaN    NaN  ball  NaN
10658    489    NaN    NaN     NaN    NaN  ball  NaN
10680    490    NaN    NaN     NaN    NaN  ball  NaN
10702    491    NaN    NaN     NaN    NaN  ball  NaN
10724    492    NaN    NaN     NaN    NaN  ball  NaN
10746    493    NaN    NaN     NaN    NaN  ball  NaN
10768    494    NaN    NaN     NaN    NaN  ball  NaN
10790    495    NaN    NaN     NaN    NaN  ball  NaN
10812    496    NaN    NaN     NaN    NaN  ball  NaN
10834    497    NaN    NaN     NaN    NaN  ball  NaN
10856    498    NaN    NaN     NaN    NaN  ball  NaN
10878    499    NaN    NaN     NaN    NaN  ball  NaN
10900    500    NaN    NaN     NaN    NaN  ball  NaN
10922    501    NaN    NaN     NaN    NaN  ball  NaN
10944    502    NaN    NaN     NaN    NaN  ball  NaN
10966    503    NaN    NaN     NaN    NaN  ball  NaN
10988    504    NaN    NaN     NaN    NaN  ball  NaN
11010    505    NaN    NaN     NaN    NaN  ball  NaN
11032    506    NaN    NaN     NaN    NaN  ball  NaN
11054    507    NaN    NaN     NaN    NaN  ball  NaN
11076    508    NaN    NaN     NaN    NaN  ball  NaN
11098    509    NaN    NaN     NaN    NaN  ball  NaN
11120    510    NaN    NaN     NaN    NaN  ball  NaN
11142    511    NaN    NaN     NaN    NaN  ball  NaN
11164    512    NaN    NaN     NaN    NaN  ball  NaN
11186    513    NaN    NaN     NaN    NaN  ball  NaN
11208    514    NaN    NaN     NaN    NaN  ball  NaN
11230    515    NaN    NaN     NaN    NaN  ball  NaN
11252    516    NaN    NaN     NaN    NaN  ball  NaN
11274    517    NaN    NaN     NaN    NaN  ball  NaN
11296    518    NaN    NaN     NaN    NaN  ball  NaN
11318    519    NaN    NaN     NaN    NaN  ball  NaN
11340    520    NaN    NaN     NaN    NaN  ball  NaN
11362    521    NaN    NaN     NaN    NaN  ball  NaN
11384    522    NaN    NaN     NaN    NaN  ball  NaN
11406    523    NaN    NaN     NaN    NaN  ball  NaN
11428    524    NaN    NaN     NaN    NaN  ball  NaN
11450    525    NaN    NaN     NaN    NaN  ball  NaN
11472    526    NaN    NaN     NaN    NaN  ball  NaN
11494    527    NaN    NaN     NaN    NaN  ball  NaN
11516    528    NaN    NaN     NaN    NaN  ball  NaN
11538    529    NaN    NaN     NaN    NaN  ball  NaN
11560    530    NaN    NaN     NaN    NaN  ball  NaN
11582    531   32.0  237.0   142.5  456.5  ball    N
11604    532   32.0  237.0   138.5  459.5  ball    N
11626    533   32.0  237.0   112.5  442.5  ball    N
11648    534   32.0  237.0    97.5  437.0  ball    N
11670    535   32.0  237.0    82.5  430.0  ball    N
11692    536   32.0  237.0    69.5  425.0  ball    N
11714    537   32.0  237.0    53.5  421.0  ball    N
11736    538   32.0  237.0    40.5  417.0  ball    N
11758    539   32.0  237.0    26.5  413.5  ball    N
11780    540   32.0  237.0    12.5  407.5  ball    N
11802    541    NaN    NaN     NaN    NaN  ball  NaN
11824    542    NaN    NaN     NaN    NaN  ball  NaN
11846    543    NaN    NaN     NaN    NaN  ball  NaN
11868    544    NaN    NaN     NaN    NaN  ball  NaN
11890    545    NaN    NaN     NaN    NaN  ball  NaN
11912    546    NaN    NaN     NaN    NaN  ball  NaN
11934    547    NaN    NaN     NaN    NaN  ball  NaN
11956    548    NaN    NaN     NaN    NaN  ball  NaN
11978    549    NaN    NaN     NaN    NaN  ball  NaN
12000    550    NaN    NaN     NaN    NaN  ball  NaN

In [65]:
pd.set_option('display.max_rows', 10)
for frame in range(401, df['frame'].max()):
    # print(frame)
    df.loc[(df['Name'] == "ball") & (df['frame'] == frame), 'x_mid'] = (df.loc[(df['Name'] == "player13") & (df['frame'] == frame), 'x_mid'] - 10).values
    df.loc[(df['Name'] == "ball") & (df['frame'] == frame), 'y_mid'] = (df.loc[(df['Name'] == "player13") & (df['frame'] == frame), 'y_mid'] + 20).values

In [66]:
# player7 and player9 move and stay out of the frame about half way through, so let's remove their records after their last appearance
print("player7", df[(df['Name'] == 'player7') & (df['x_mid'] == df[df['Name'] == 'player7']['x_mid'].min())]['frame'].values[0])
print("player9", df[(df['Name'] == 'player9') & (df['x_mid'] == df[df['Name'] == 'player9']['x_mid'].min())]['frame'].values[0])

M_frame = df[(df['Name'] == 'player7') & (df['x_mid'] == df[df['Name'] == 'player7']['x_mid'].min())]['frame'].values[0]
S_frame = df[(df['Name'] == 'player9') & (df['x_mid'] == df[df['Name'] == 'player9']['x_mid'].min())]['frame'].values[0]
df = df.drop(df[(df['frame'] > M_frame) & (df['Name'] == "player7")].index)
df = df.drop(df[(df['frame'] > S_frame) & (df['Name'] == "player9")].index)

player7 181
player9 214

In [67]:
outdf = []

for Name, group in df.groupby("Name"):
    group['x_mid'] = group['x_mid'].interpolate()
    group['y_mid'] = group['y_mid'].interpolate()
    outdf.append(group)
df = pd.concat(outdf)

In [68]:
df[df['Name']=="player3"].head(50)

      frame  class   ID        x_mid        y_mid     Name Team
15        3    0.0  3.0  3093.500000  1775.500000  player3    H
37        4    0.0  3.0  3090.500000  1786.000000  player3    H
59        5    0.0  3.0  3086.500000  1796.000000  player3    H
81        6    0.0  3.0  3086.500000  1806.000000  player3    H
103       7    0.0  3.0  3085.500000  1815.000000  player3    H
...     ...    ...  ...          ...          ...      ...  ...
1005     48    NaN  NaN  2970.428571  1706.928571  player3  NaN
1027     49    NaN  NaN  2960.714286  1702.714286  player3  NaN
1049     50    0.0  3.0  2951.000000  1698.500000  player3    H
1071     51    0.0  3.0  2939.000000  1692.000000  player3    H
1093     52    0.0  3.0  2928.000000  1684.000000  player3    H

[50 rows x 7 columns]

In [69]:
df.columns

Index(['frame', 'class', 'ID', 'x_mid', 'y_mid', 'Name', 'Team'], dtype='object')

In [70]:
name_team = df[['Name', "Team"]].drop_duplicates().dropna()

In [71]:
df.drop(columns=['Team'], inplace=True)
df = pd.merge(df, name_team, on=['Name'], how='left')

In [72]:
df[df['Name']=="player3"].head(50)

      frame  class   ID        x_mid        y_mid     Name Team
8226      3    0.0  3.0  3093.500000  1775.500000  player3    H
8227      4    0.0  3.0  3090.500000  1786.000000  player3    H
8228      5    0.0  3.0  3086.500000  1796.000000  player3    H
8229      6    0.0  3.0  3086.500000  1806.000000  player3    H
8230      7    0.0  3.0  3085.500000  1815.000000  player3    H
...     ...    ...  ...          ...          ...      ...  ...
8271     48    NaN  NaN  2970.428571  1706.928571  player3    H
8272     49    NaN  NaN  2960.714286  1702.714286  player3    H
8273     50    0.0  3.0  2951.000000  1698.500000  player3    H
8274     51    0.0  3.0  2939.000000  1692.000000  player3    H
8275     52    0.0  3.0  2928.000000  1684.000000  player3    H

[50 rows x 7 columns]

In [73]:
df = df.drop(columns=['class', 'ID'])

### Begin Calculations

In [74]:
quad_coords = {
    "lonlat": np.array([
        [41.709011, -72.585549], # Top Right
        [41.709691, -72.585688], # Top left
        [41.709500, -72.586105], # Bottom Left
        [41.709091, -72.586046] # Bottom Right
    ]),
    "pixel": np.array([
        [3697, 264], # top right
        [95, 273], # top left
        [19, 2137], # bottom left
        [3775, 2116] # bottom right
    ])
}

In [75]:
import numpy as np
import cv2


class PixelMapper(object):
    """
    Create an object for converting pixels to geographic coordinates,
    using four points with known locations which form a quadrilteral in both planes
    Parameters
    ----------
    pixel_array : (4,2) shape numpy array
        The (x,y) pixel coordinates corresponding to the top left, top right, bottom right, bottom left
        pixels of the known region
    lonlat_array : (4,2) shape numpy array
        The (lon, lat) coordinates corresponding to the top left, top right, bottom right, bottom left
        pixels of the known region
    """
    def __init__(self, pixel_array, lonlat_array):
        assert pixel_array.shape==(4,2), "Need (4,2) input array"
        assert lonlat_array.shape==(4,2), "Need (4,2) input array"
        self.M = cv2.getPerspectiveTransform(np.float32(pixel_array),np.float32(lonlat_array))
        self.invM = cv2.getPerspectiveTransform(np.float32(lonlat_array),np.float32(pixel_array))
        
    def pixel_to_lonlat(self, pixel):
        """
        Convert a set of pixel coordinates to lon-lat coordinates
        Parameters
        ----------
        pixel : (N,2) numpy array or (x,y) tuple
            The (x,y) pixel coordinates to be converted
        Returns
        -------
        (N,2) numpy array
            The corresponding (lon, lat) coordinates
        """
        if type(pixel) != np.ndarray:
            pixel = np.array(pixel).reshape(1,2)
        assert pixel.shape[1]==2, "Need (N,2) input array" 
        pixel = np.concatenate([pixel, np.ones((pixel.shape[0],1))], axis=1)
        lonlat = np.dot(self.M,pixel.T)
        
        return (lonlat[:2,:]/lonlat[2,:]).T
    
    def lonlat_to_pixel(self, lonlat):
        """
        Convert a set of lon-lat coordinates to pixel coordinates
        Parameters
        ----------
        lonlat : (N,2) numpy array or (x,y) tuple
            The (lon,lat) coordinates to be converted
        Returns
        -------
        (N,2) numpy array
            The corresponding (x, y) pixel coordinates
        """
        if type(lonlat) != np.ndarray:
            lonlat = np.array(lonlat).reshape(1,2)
        assert lonlat.shape[1]==2, "Need (N,2) input array" 
        lonlat = np.concatenate([lonlat, np.ones((lonlat.shape[0],1))], axis=1)
        pixel = np.dot(self.invM,lonlat.T)
        
        return (pixel[:2,:]/pixel[2,:]).T

In [76]:
pm = PixelMapper(quad_coords["pixel"], quad_coords["lonlat"])

In [77]:
pm.lonlat_to_pixel((41.709011, -72.585549))

array([[3690.368797  ,  266.03596056]])

In [78]:
pm.pixel_to_lonlat((3690.368797  ,  266.03596056))

array([[ 41.70901241, -72.5855491 ]])

In [79]:
df['lon_lat'] = df.apply(lambda x: pm.pixel_to_lonlat((x['x_mid'], x['y_mid']))[0], axis=1)

In [80]:
df['lon'] = df['lon_lat'].str[0]
df['lat'] = df['lon_lat'].str[1]

In [81]:
import haversine as hs
from haversine import Unit

outdf = []
for Name, group in df.groupby("Name"):
    print(Name)
    group['lon_prev'] = group['lon'].shift(1)
    group['lat_prev'] = group['lat'].shift(1)
    group['haversine'] = group.apply(lambda x: hs.haversine((x['lat'], x['lon']), (x['lat_prev'], x['lon_prev']), unit=Unit.MILES), axis=1)
    group['haversine_smooth'] = group['haversine'].rolling(window=5).mean()
    group['haversine_smooth'] = group['haversine'].rolling(window=29).mean()
    outdf.append(group)
df = pd.concat(outdf).sort_index()

Eric
Referee
ball
player1
player10
player11
player12
player13
player14
player15
player16
player17
player18
player19
player2
player3
player4
player5
player6
player7
player8
player9

#### Derive Insights

In [82]:
df['mph'] = df['haversine'] * 29 * 3600
df['mph_smoothed'] = df['haversine_smooth'] * 29 * 3600

In [83]:
df.dropna()[~df['Name'].isin(["ball"])].sort_values('mph_smoothed').tail(50) #[~df['Name'].isin(["player1", "player14", "player3"])] .dropna()[~df['Name'].isin(["ball"])]

/Users/ericstassen/opt/anaconda3/envs/vision37/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,frame,x_mid,y_mid,Name,Team,lon_lat,lon,lat,lon_prev,lat_prev,haversine,haversine_smooth,mph,mph_smoothed
4522,135,1499.00,1067.50,player14,F,"[41.70938520354147, -72.5858872547701]",41.709385,-72.585887,41.709385,-72.585885,0.000171,0.000146,17.830438,15.191707
1764,117,2328.00,1023.00,player1,F,"[41.70926701577826, -72.58585626568639]",41.709267,-72.585856,41.709267,-72.585858,0.000109,0.000146,11.342549,15.195154
1771,124,2319.50,965.00,player1,F,"[41.709269227306386, -72.58584132400034]",41.709269,-72.585841,41.709269,-72.585844,0.000219,0.000146,22.855664,15.219847
4524,137,1496.00,1079.50,player14,F,"[41.7093850161835, -72.58589019751832]",41.709385,-72.585890,41.709385,-72.585889,0.000074,0.000146,7.767997,15.246432
1775,128,2310.75,936.75,player1,F,"[41.70927103163864, -72.58583396686325]",41.709271,-72.585834,41.709271,-72.585836,0.000115,0.000146,11.965899,15.252367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4532,145,1459.00,1167.50,player14,F,"[41.709385740883754, -72.58591147337117]",41.709386,-72.585911,41.709386,-72.585909,0.000164,0.000165,17.165388,17.175529
4538,151,1431.00,1219.50,player14,F,"[41.70938698010694, -72.58592366082419]",41.709387,-72.585924,41.709387,-72.585922,0.000106,0.000165,11.015962,17.210588
4537,150,1435.50,1213.00,player14,F,"[41.70938669200585, -72.5859221360977]",41.709387,-72.585922,41.709386,-72.585920,0.000153,0.000165,15.992233,17.249903
4540,153,1419.50,1237.00,player14,F,"[41.70938766757313, -72.58592772323817]",41.709388,-72.585928,41.709387,-72.585925,0.000198,0.000166,20.638395,17.365880
4533,146,1455.00,1177.00,player14,F,"[41.70938581761977, -72.58591370351039]",41.709386,-72.585914,41.709386,-72.585911,0.000154,0.000167,16.087634,17.405409

In [84]:
df.dropna()[df['Name'].isin(["ball"])].sort_values('mph_smoothed').tail(50)

/Users/ericstassen/opt/anaconda3/envs/vision37/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,frame,x_mid,y_mid,Name,Team,lon_lat,lon,lat,lon_prev,lat_prev,haversine,haversine_smooth,mph,mph_smoothed
1481,384,1083.5,328.0,ball,N,"[41.709508230467264, -72.58567311847416]",41.709508,-72.585673,41.709510,-72.585672,0.000060,0.001749,6.214173,182.559853
1490,392,1131.0,320.5,ball,N,"[41.70950060468302, -72.58566854552993]",41.709501,-72.585669,41.709243,-72.585830,0.012351,0.001752,1289.397541,182.878649
1480,383,1076.0,325.5,ball,N,"[41.709509844963264, -72.58567240525413]",41.709510,-72.585672,41.709511,-72.585671,0.000072,0.001757,7.536113,183.451788
1479,382,1069.5,322.5,ball,N,"[41.70951134102616, -72.58567146131563]",41.709511,-72.585671,41.709513,-72.585671,0.000038,0.001764,4.009133,184.120366
1478,381,1062.0,321.0,ball,N,"[41.70951284654615, -72.58567113590539]",41.709513,-72.585671,41.709514,-72.585671,0.000048,0.001771,5.022231,184.903474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1463,366,966.5,362.0,ball,N,"[41.709524936219125, -72.58569010790286]",41.709525,-72.585690,41.709239,-72.585840,0.011948,0.003073,1247.376150,320.803095
1464,367,972.5,354.5,ball,N,"[41.7095247652148, -72.58568707512396]",41.709525,-72.585687,41.709525,-72.585690,0.000210,0.003076,21.879619,321.120225
1465,368,977.5,348.0,ball,N,"[41.70952465129598, -72.58568443887808]",41.709525,-72.585684,41.709525,-72.585687,0.000182,0.003078,19.017762,321.385910
1466,369,984.0,343.0,ball,N,"[41.709524096431295, -72.58568231133096]",41.709524,-72.585682,41.709525,-72.585684,0.000147,0.003080,15.393425,321.583751
1467,370,990.0,337.0,ball,N,"[41.70952374503649, -72.5856798083205]",41.709524,-72.585680,41.709524,-72.585682,0.000173,0.003084,18.071027,321.975959

### Ball Data was messier so let's clean up obvious errors

In [85]:
df.loc[(df['Name'] == 'ball') & (df['mph'] > 50), 'x_mid'] = np.nan
df.loc[(df['Name'] == 'ball') & (df['mph'] > 50), 'y_mid'] = np.nan

In [86]:
outdf = []

for Name, group in df.groupby("Name"):
    group['x_mid'] = group['x_mid'].interpolate()
    group['y_mid'] = group['y_mid'].interpolate()
    outdf.append(group)
df = pd.concat(outdf)

In [87]:
df['lon_lat'] = df.apply(lambda x: pm.pixel_to_lonlat((x['x_mid'], x['y_mid']))[0], axis=1)
df['lon'] = df['lon_lat'].str[0]
df['lat'] = df['lon_lat'].str[1]
outdf = []
for Name, group in df.groupby("Name"):
    print(Name)
    group['lon_prev'] = group['lon'].shift(1)
    group['lat_prev'] = group['lat'].shift(1)
    group['haversine'] = group.apply(lambda x: hs.haversine((x['lat'], x['lon']), (x['lat_prev'], x['lon_prev']), unit=Unit.MILES), axis=1)
    group['haversine_smooth'] = group['haversine'].rolling(window=5).mean()
    group['haversine_smooth'] = group['haversine'].rolling(window=29).mean()
    outdf.append(group)
df = pd.concat(outdf).sort_index()
df['mph'] = df['haversine'] * 29 * 3600
df['mph_smoothed'] = df['haversine_smooth'] * 29 * 3600

Eric
Referee
ball
player1
player10
player11
player12
player13
player14
player15
player16
player17
player18
player19
player2
player3
player4
player5
player6
player7
player8
player9

In [88]:
df.dropna()[df['Name'].isin(["ball"])].sort_values('mph_smoothed').tail(50)

/Users/ericstassen/opt/anaconda3/envs/vision37/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,frame,x_mid,y_mid,Name,Team,lon_lat,lon,lat,lon_prev,lat_prev,haversine,haversine_smooth,mph,mph_smoothed
1476,379,1048.5,319.0,ball,N,"[41.70951547881897, -72.58567082297127]",41.709515,-72.585671,41.709517,-72.585671,0.000031,0.000178,3.270071,18.558809
1470,373,1008.0,325.5,ball,N,"[41.70952191486213, -72.58567475280624]",41.709522,-72.585675,41.709522,-72.585676,0.000106,0.000179,11.064575,18.652530
1475,378,1041.0,318.0,ball,N,"[41.70951692939156, -72.58567069240543]",41.709517,-72.585671,41.709518,-72.585671,0.000048,0.000180,4.977807,18.767819
1471,374,1014.5,323.5,ball,N,"[41.70952099699203, -72.58567375229828]",41.709521,-72.585674,41.709522,-72.585675,0.000072,0.000180,7.484096,18.773557
1474,377,1034.5,319.0,ball,N,"[41.70951796973769, -72.58567130825621]",41.709518,-72.585671,41.709519,-72.585672,0.000050,0.000181,5.171855,18.900138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427,334,630.0,557.0,ball,N,"[41.70955818856458, -72.58576845863223]",41.709558,-72.585768,41.709559,-72.585772,0.000265,0.000433,27.613927,45.251904
1423,330,565.5,599.0,ball,N,"[41.709563447419946, -72.58578359327494]",41.709563,-72.585784,41.709564,-72.585788,0.000310,0.000434,32.349172,45.285443
1424,331,581.5,587.0,ball,N,"[41.709562347866814, -72.5857793883705]",41.709562,-72.585779,41.709563,-72.585784,0.000291,0.000439,30.424200,45.839446
1425,332,598.5,577.0,ball,N,"[41.70956083895504, -72.58577574838218]",41.709561,-72.585776,41.709562,-72.585779,0.000253,0.000440,26.457811,45.892804
1426,333,614.5,567.5,ball,N,"[41.70955941884305, -72.58577226905254]",41.709559,-72.585772,41.709561,-72.585776,0.000242,0.000440,25.284182,45.897687

Following code for distance to each other:

distance_df = []
for Frame, group in df.groupby("frame"):
    print(Frame)
    group['distances_mile'] = group.apply(lambda x: {"person_" + group.loc[index]['Name']: hs.haversine((x['lat'], x['lon']), (group.loc[index]['lat'], group.loc[index]['lon']), unit=Unit.MILES) for index in group.index}, axis=1)
    distance_df.append(group)
distance_df = pd.concat(distance_df)

In [89]:
distance_df = []
for Frame, group in df.groupby("frame"):
    print(Frame)
    group['ft_to_ball'] = group.apply(lambda x: hs.haversine((group.loc[group['Name'] == 'ball'].values[0][7], group.loc[group['Name'] == 'ball'].values[0][6]), (x['lat'], x['lon']), unit=Unit.MILES), axis=1) * 5280
    distance_df.append(group)
df = pd.concat(distance_df)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550

In [90]:
df

,frame,x_mid,y_mid,Name,Team,lon_lat,lon,lat,lon_prev,lat_prev,haversine,haversine_smooth,mph,mph_smoothed,ft_to_ball
0,3,3381.5,941.0,Eric,F,"[41.70910594903356, -72.5858070933292]",41.709106,-72.585807,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548,3,1354.5,608.5,Referee,R,"[41.70943594693989, -72.58576355882184]",41.709436,-72.585764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1096,3,NaN,NaN,ball,N,"[nan, nan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1650,3,3622.0,1945.0,player1,F,"[41.709104413070285, -72.58601833065894]",41.709104,-72.586018,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2198,3,2855.0,703.0,player10,H,"[41.70918556556278, -72.58574959387205]",41.709186,-72.585750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8773,550,22.5,474.5,player3,H,"[41.70966764384581, -72.58575982879059]",41.709668,-72.585760,41.709668,-72.585760,0.000000,0.000053,0.000000,5.518524,1.138306
9321,550,325.0,431.5,player4,H,"[41.70962481119451, -72.5857360061772]",41.709625,-72.585736,41.709624,-72.585735,0.000065,0.000045,6.830417,4.727982,9.158015
9869,550,1299.0,391.5,player5,F,"[41.70946369343943, -72.58569002263481]",41.709464,-72.585690,41.709463,-72.585690,0.000035,0.000013,3.624729,1.331829,33.302002
10417,550,676.0,203.5,player6,H,"[41.70959811845963, -72.58563740801932]",41.709598,-72.585637,41.709597,-72.585638,0.000067,0.000058,7.041890,6.064690,44.319801
11144,550,783.5,76.0,player8,F,"[41.709597938038286, -72.58557683796755]",41.709598,-72.585577,41.709597,-72.585577,0.000017,0.000032,1.778517,3.364656,66.177020

df = pd.merge(df, df['distances_mile'].apply(pd.Series))

In [91]:
distance_df = []
for Name, group in df.groupby("Name"):
    print(Name)
    group['ft_traveled'] = group['haversine'].fillna(0).cumsum() * 5280
    distance_df.append(group)
df = pd.concat(distance_df).sort_values("frame")

Eric
Referee
ball
player1
player10
player11
player12
player13
player14
player15
player16
player17
player18
player19
player2
player3
player4
player5
player6
player7
player8
player9

In [92]:
df.tail(50)

,frame,x_mid,y_mid,Name,Team,lon_lat,lon,lat,lon_prev,lat_prev,haversine,haversine_smooth,mph,mph_smoothed,ft_to_ball,ft_traveled
1093,548,84.0,634.5,Referee,R,"[41.70963386328032, -72.58580796771736]",41.709634,-72.585808,41.709633,-72.585808,0.000010,0.000016,1.052401,1.651018,19.602533,79.439315
11142,548,791.5,77.0,player8,F,"[41.70959623168382, -72.58557698392029]",41.709596,-72.585577,41.709595,-72.585578,0.000043,0.000033,4.501374,3.404535,65.595836,173.940649
7127,548,241.5,37.0,player18,F,"[41.70970933510093, -72.58558041313984]",41.709709,-72.585580,41.709709,-72.585580,0.000031,0.000027,3.188691,2.859973,63.972752,71.742729
7675,548,3182.0,332.0,player19,F,"[41.709117922290545, -72.58559897055572]",41.709118,-72.585599,41.709118,-72.585599,0.000000,0.000007,0.000000,0.723389,83.080510,111.492213
4935,548,818.0,508.5,player14,F,"[41.70953324402831, -72.58574689889286]",41.709533,-72.585747,41.709533,-72.585747,0.000006,0.000012,0.628114,1.247119,15.352113,218.395984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8225,550,557.0,1077.5,player2,F,"[41.70951542212834, -72.58591130046862]",41.709515,-72.585911,41.709515,-72.585911,0.000015,0.000017,1.540657,1.737849,58.840016,153.151806
3841,550,912.0,471.0,player12,H,"[41.70952183703429, -72.58573121107183]",41.709522,-72.585731,41.709522,-72.585731,0.000000,0.000010,0.000000,1.048064,18.817265,138.288347
4389,550,12.5,454.5,player13,F,"[41.709672508759134, -72.58575350223977]",41.709673,-72.585754,41.709673,-72.585750,0.000248,0.000082,25.848710,8.517888,1.248471,130.083911
4937,550,814.5,506.5,player14,F,"[41.709534047997565, -72.58574633548234]",41.709534,-72.585746,41.709534,-72.585747,0.000021,0.000012,2.184745,1.244543,15.471495,218.621679
6581,550,3095.5,274.0,player17,H,"[41.709132787263485, -72.58557645804773]",41.709133,-72.585576,41.709133,-72.585576,0.000005,0.000024,0.513039,2.504662,88.261977,96.033606

In [93]:
df[df['ft_traveled'] == df['ft_traveled'].max()]

,frame,x_mid,y_mid,Name,Team,lon_lat,lon,lat,lon_prev,lat_prev,haversine,haversine_smooth,mph,mph_smoothed,ft_to_ball,ft_traveled
1648,549,10.0,464.5,ball,N,"[41.709671282283075, -72.58575690471821]",41.709671,-72.585757,41.709671,-72.585755,0.000105,0.000073,10.917984,7.644886,0.0,327.263766
1649,550,10.0,464.5,ball,N,"[41.709671282283075, -72.58575690471821]",41.709671,-72.585757,41.709671,-72.585757,0.000000,0.000072,0.000000,7.526987,0.0,327.263766

### Plot to Pitch

In [94]:
quad_coords_out = {
    "lonlat": np.array([
        [41.709011, -72.585549], # Top Right
        [41.709691, -72.585688], # Top left
        [41.709500, -72.586105], # Bottom Left
        [41.709091, -72.586046] # Bottom Right
    ]),
    "pixel": np.array([
        [1540, 569], # top right
        [470, 569], # top left
        [666, 1299], # bottom left
        [1348, 1288] # bottom right
    ])
}
pm_out = PixelMapper(quad_coords_out["pixel"], quad_coords_out["lonlat"])
df['pixels_out'] = df.apply(lambda x: pm_out.lonlat_to_pixel((x['lon'], x['lat']))[0], axis=1)

In [95]:
pm_out.pixel_to_lonlat((1000,2000))

array([[ 41.70924948, -72.5864689 ]])

In [96]:
pm_out.lonlat_to_pixel((41.70924948, -72.5864689))

array([[1000.20808097, 2001.32018946]])

In [97]:
df['x_out'] = df['pixels_out'].str[0]
df['y_out'] = df['pixels_out'].str[1]

In [98]:
df

,frame,x_mid,y_mid,Name,Team,lon_lat,lon,lat,lon_prev,lat_prev,haversine,haversine_smooth,mph,mph_smoothed,ft_to_ball,ft_traveled,pixels_out,x_out,y_out
0,3,3381.5,941.0,Eric,F,"[41.70910594903356, -72.5858070933292]",41.709106,-72.585807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,"[1365.6055252615513, 915.2136355373904]",1365.605525,915.213636
10597,3,3241.0,1399.5,player8,F,"[41.70913930992976, -72.58592359169116]",41.709139,-72.585924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,"[1295.3770644058577, 1085.18451537831]",1295.377064,1085.184515
10418,3,1059.5,1608.5,player7,F,"[41.70941471559591, -72.58600711839543]",41.709415,-72.586007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,"[837.0362461926592, 1153.3542392454865]",837.036246,1153.354239
1096,3,NaN,NaN,ball,N,"[nan, nan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,"[nan, nan]",NaN,NaN
9870,3,2955.0,1205.0,player6,H,"[41.70917583670772, -72.58588615310981]",41.709176,-72.585886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,"[1246.0853942821311, 1018.2377788213129]",1246.085394,1018.237779
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8225,550,557.0,1077.5,player2,F,"[41.70951542212834, -72.58591130046862]",41.709515,-72.585911,41.709515,-72.585911,0.000015,0.000017,1.540657,1.737849,58.840016,153.151806,"[694.9406499135804, 971.9910284402345]",694.940650,971.991028
3841,550,912.0,471.0,player12,H,"[41.70952183703429, -72.58573121107183]",41.709522,-72.585731,41.709522,-72.585731,0.000000,0.000010,0.000000,1.048064,18.817265,138.288347,"[734.4037528175542, 688.4162667916476]",734.403753,688.416267
4389,550,12.5,454.5,player13,F,"[41.709672508759134, -72.58575350223977]",41.709673,-72.585754,41.709673,-72.585750,0.000248,0.000082,25.848710,8.517888,1.248471,130.083911,"[477.84105114175856, 678.535679874288]",477.841051,678.535680
4937,550,814.5,506.5,player14,F,"[41.709534047997565, -72.58574633548234]",41.709534,-72.585746,41.709534,-72.585747,0.000021,0.000012,2.184745,1.244543,15.471495,218.621679,"[710.3662058463946, 707.9490242242562]",710.366206,707.949024
6581,550,3095.5,274.0,player17,H,"[41.709132787263485, -72.58557645804773]",41.709133,-72.585576,41.709133,-72.585576,0.000005,0.000024,0.513039,2.504662,88.261977,96.033606,"[1363.1352491321286, 573.9494259246812]",1363.135249,573.949426

In [99]:
import math

file_path = "".join(path.split(".")[:-1]).replace("labels/", "") + ".mp4"  # change to your own video path
# print(file_path)
vid = cv2.VideoCapture(file_path)
vid_height = vid.get(cv2.CAP_PROP_FRAME_HEIGHT)
vid_width = vid.get(cv2.CAP_PROP_FRAME_WIDTH)
# print(vid_height, vid_width)

img = cv2.imread('pitch.png')
height,width,layers=img.shape
print(width, height, layers)

ratio = width / vid_width, height / vid_height
print(ratio)

video=cv2.VideoWriter("".join(path.split(".")[:-1]).replace("labels/", "") + "_analysis.mp4" ,cv2.VideoWriter_fourcc(*'mp4v'),out_fps,(width,height))
# print(video)

for j in df.frame.unique():
    img = cv2.imread('pitch.png')
    image = cv2.putText(img, str(j), (100,100), fontFace=2, fontScale=.8, color=(0, 0, 0), thickness=2, lineType = cv2.LINE_AA)
    # print(img)
    frame = df[df['frame'] == j].to_dict(orient='records')
    for position in frame:
        # print(position)
        #image = cv2.circle(img, (j*5,100), radius=10, color=(255, 0, 0), thickness=-1)
        if set(["Name", "x_out", "y_out", "Team"]) <= set(position.keys()):
            if position["Team"] == "F":
                color = (255, 0, 0)
            elif position["Team"] == "H":
                color = (0, 0, 255)
            elif position['Name'] == "ball":
                color = (0, 0, 0)
            else:
                color = (0, 0, 0)
            position['Name'] = position['Name'] if position['Name'] != "ball" else "*"
            if (not math.isnan(position['x_out'])) and (not math.isnan(position['y_out'])):
                if math.isnan(position['mph_smoothed']):
                    position['mph_smoothed'] = 0
                if math.isnan(position['ft_to_ball']):
                    position['ft_to_ball'] = 0
                # print("Writing Vid")
                image = cv2.putText(img, "."+position['Name'], (int(position['x_out']), int(position['y_out'])), fontFace=2, fontScale=.8, color=color, thickness=2, lineType = cv2.LINE_AA)
                image = cv2.putText(img, str(round(position['mph_smoothed'])) + "mph | " + str(round(position['ft_to_ball'])) + "ft | " + str(round(position['ft_traveled'])) + "ft", (int(position['x_out']), int(position['y_out'] + 20)), fontFace=2, fontScale=.5, color=color, thickness=1, lineType = cv2.LINE_AA)
                # cv2.imshow("Output", image)
                # if cv2.waitKey(1) & 0xFF == ord('q'):
                #     break

    video.write(img)

cv2.destroyAllWindows()
video.release()

1998 1412 3
(0.5203125, 0.6537037037037037)

def click_event(event, x, y, flags, params):
    object_frame, frame, frame_n = params
    # checking for left mouse clicks
    if event == cv2.EVENT_LBUTTONDOWN:
        # displaying the coordinates on the Shell
        # print(x, ' ', y)
        # displaying the coordinates on the image window
        font = cv2.FONT_HERSHEY_SIMPLEX
        # if os.environ["clicked_x"] and os.environ["clicked_y"]:
        #     print("Changing Frame back to original")
        object_frame = copy.deepcopy(frame)
        cv2.putText(object_frame, "." + str(x) + ',' +
                    str(y), (x,y), font,
                    1, (255, 0, 0), 2)
        cv2.imshow('Scraping feed', object_frame)
        os.environ["clicked_x"] = str(x)
        # print("X" + os.environ["clicked_x"] + " - " + str(x))
        os.environ["clicked_y"] = str(y)
        instructions_frame = copy.deepcopy(frame)
        cv2.putText(instructions_frame, "You selected: " + os.environ["clicked_x"] + ", " + os.environ["clicked_y"], (100,500), cv2.FONT_HERSHEY_SIMPLEX, 5, (255, 0, 0), 5)
        cv2.imshow('Instructions feed', instructions_frame)
        print(frame_n, os.environ["clicked_x"], os.environ["clicked_y"])

import copy
import os

img = cv2.imread('pitch.png')
key_ind = "collecting"
while key_ind == "collecting":
    cv2.imshow('Data feed', img)
    cv2.setMouseCallback('Data feed', click_event, param=(img, img, 0))
    if cv2.waitKey(1) & 0xFF == ord('q'):
        break
cv2.destroyAllWindows()
for i in range (1,5):
    cv2.waitKey(1)